# Root Git ignore rules
run-logs/
*.log
.idea/
.vscode/
node_modules/
build/
.gradle/
.cxx/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
**/key.properties
**/google-services.json
**/GoogleService-Info.plist
**/firebase_options.dart
*.jks
